*{
    margin: 0;
    padding: 0px;
}

body{
    padding: 20px;
}

.main{
    background: #eee;
    border: 1px solid #999;
    padding: 20px;
    overflow: auto;
    min-width: 600px;
}

img{
    width: 80px;
    height: 80px;
}

.outline{
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #999999;
}

.left{
    width: 200px;
    float: left;
    display: flex;
}

.left p{
    margin-left: 20px;
}

.center{
    width: calc(100% - 220px - 140px);
    margin-left: 20px;
    float: left;
}

.right{
    width: 120px;
    float: right;
}

.right img{
    display: block;
}

.right img+img{
    margin-top: 20px;
}

#pos{
    position: relative;
    background: #eee;
    border: 1px solid #999;
    padding: 20px;
    overflow: auto;
    min-width: 600px;
}

.lf{
    width: 200px;
    position: absolute;
}

.ct{
    margin: 0 140px 0 220px;
}

.ct p{
    text-indent: 2em;
    line-height: 1.5em;
}

.rg{
    width: 120px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.rg img+img{
    margin-top: 20px;
}

