*{
    margin: 0;
    padding: 0;
    font-family: "宋体";
}
header nav{
    background: #383838;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 30px;
}
header nav ul{
    float: right;
    /*display: flex;*/
    margin-top: 10px;
}

header nav ul li{
    margin-left: 20px;
    font-size: 13px;
    float: left;
    width: 70px;
}

header nav ul li a{
    text-decoration:none;
    color: white;
}

header nav ul li a span{
    color: #b8b8b8;
}
#main{
    background: #d4d4d4;
    padding:  30px;
}

.outline{
    border-width: 1px 2px 2px 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background: white;
    padding: 40px 20px;
}

article,.photo{
    margin-bottom: 20px;
}

article h4{
    color: #636363;
    margin: 15px 0 10px;
}

article .author{
    font-size: 12px;
    color: #636363;
    margin-bottom: 10px;
}

article p{
    font-size: 15px;
    line-height: 2em;
}

article img {
    margin: 10px 0;
}

article ul{
    list-style: none;
}

article ul li{
    font-size: 15px;
    padding: 3px 15px;
}

.photo div{
    border: 1px solid #9c9c9c;
    width: 160px;
    padding: 15px;
    margin: 20px 45px;
    text-align: center;
}

.photo div img{
    width: 160px;
    height: 160px;
    margin-top: 5px;
}

article ol{
    margin:0px 0px 15px 50px;
    font-size: 15px;
}

article table{
    width: 100%;
}

article table thead{
    background: #2a2a2a;
    color: white;
    font-size: 13px;
}

article table tbody{
    font-size: 13px;
}

article table tr th,
article table tr td{
    padding: 5px;
}

article table tfoot{
    background: #c6c6c6;
    font-size: 13px;
    font-weight: bold;
}

aside table{
    font-size: 13px;
    margin:20px 0 0 350px;
}
aside table td{
    padding: 5px;
}

aside table tr td:first-child{
    text-align: right;
}

aside table td textarea{
    width: 900px;
    height: 80px;
}

aside table td span{
    color: #c6c6c6;
}

aside form input[type="submit"]{
    background: blue;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

footer{
    background: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}