*{
    margin: 0;
    padding: 0;
    font-family: "宋体";
}

body{
    min-width: 1020px;
}

header{
    background: #383838;
    height: 65px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
}

header img{
    vertical-align: middle;
    margin-top: 10px;
}

header nav{
    float: right;
    line-height:65px;
}

header nav ul li{
    float: left;
    font-size: 12px;
    margin-left: 22px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

.click{
    color: #b8b8b8;
}

#main{
    width: 100%;
    background: #d4d4d4;
    display: flex;
    justify-content: space-between;
}

#left{
    margin: 20px ;
    width: 70%;
    min-width: 700px;
}

#left article{
    padding: 30px 20px;
    background-color: #fff;
    border-color: #9c9c9c;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
}

#left article + article{
    margin-top: 20px;
}

#left article img{
    width: 260px;
    height: 260px;
    margin: 10px 0;
}

#left article h4{
    color: #636363;
    margin: 15px 0 10px;
}

#left article .author{
    font-size: 12px;
    color: #636363;
}
#left article p{
    font-size: 15px;
    line-height: 1.7em;
}

#left article p a{
    color: blue;
}

#left article ul{
    list-style: none;
    margin-left: 30px;
}

#left article ul li{
    margin-bottom: 10px;
    font-size: 15px;
}

#left .photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#left .photo div{
    border: 1px solid #636363;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    width: 19%;
}

#left .photo img{
    width: 110px;
    height: 110px;
}

#left .photo p{
    font-size: 12px;
}

#left article ol{
    margin: 10px 50px;
}

#left article ol li + li{
    margin-top: 10px;
}

#left article ol li{
    font-size: 14px;
    font-weight: bold;
}

#left article table{
    width: 100%;
    border-collapse: collapse;
}

#left article table thead {
    background: #2a2a2a;
    color: white;
    font-size: 13px;
    text-align: left;
}

#left article table tr th,
#left article table tr td{
    border: 1px solid #c6c6c6;
    padding: 5px;
    font-size: 12px;
}

#left article table tfoot{
    background: #c6c6c6;
    font-weight: bold;
}

aside{
    margin: 20px 20px 20px 0;
    width: 30%;
    min-width: 320px;
    height:560px;
    background: white;
    border-color: #9c9c9c;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    padding: 20px;
    box-sizing: border-box;
}

aside h4{
    font-size: 14px;
    padding: 10px;
    border-left: 2px solid #b8b8b8;
}

aside table{
    width: 100%;
    margin: 20px 20px 0;
}

aside table tr td{
    padding: 8px 2px;
    font-size: 10px;
}

aside table tr td span{
    color: #c6c6c6;
}

aside table tr td:first-child{
    text-align: right;
}

aside table textarea{
    width: 90%;
    height: 60px;
}

aside input[type="submit"]{
    width: 100%;
    background: blue;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border: 0!important;
}

aside input[type="radio"]+label::before{
    content: '\a0';/*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    width: .7em;
    height: .7em;
    line-height: 1em;
    margin-right: 0.2em;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    text-indent: 0.15em;
}

aside input[type="radio"]:checked  + label::before{
    background: blue;
    background-clip: content-box;
    padding: 0.2em;
}

aside input[type="radio"]{
    position: absolute;
    clip: rect(0,0,0,0);
}

footer{
    width: 100%;
    padding: 30px;
    text-align: center;
    background: black;
    color: white;
    font-size: 12px;
}












